.app-bar {
  .ant-layout-sider.ant-layout-sider-dark {
    min-height: 100vh;
    left: 0px;
    top: 0px;
    bottom: 0px;
    flex: 0 0 200px;
    max-width: 300px !important;
    min-width: 300px !important;
    width: 300px !important;
    background: getColor(white) 0% 0% no-repeat padding-box !important;
  }
  .ant-layout-sider.ant-layout-sider-dark.ant-layout-sider-collapsed {
    flex: 0 0 80px;
    max-width: 100px !important;
    min-width: 100px !important;
    width: 100px !important;
  }
  .ant-menu-item.ant-menu-item-selected,
  .ant-menu-item.ant-menu-item-active {
    display: flex;
    align-items: center;
    transition: border-color 0.3s, background 0.3s,
      padding 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    background-color: #25293c !important;
  }
  .ant-menu.ant-menu-rtl.ant-menu-sub.ant-menu-inline {
    background-color: transparent !important;
  }

  .sidebar {
    min-height: 100vh;
    background: getColor(white) 0% 0% no-repeat padding-box !important;
    box-shadow: 0px 10px 10px getColor(light-primary) !important;
    border-radius: 10px;
    transition: all 0.3s ease;
    color: #42475d !important;
  }
  .nav-item {
    &.active {
      background-color: #25293c;
      color: #fff;
    }
  }
}
